<style>
    .main-sidebar{
      background-color: #048db7 !important;
    }
    .small
    {
      border-bottom: 1px solid #eee;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size:90%;
    }
    
    .error{
        color: red;
      }
  </style>
  

  <div ng-app="update_report">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>PCMH Reports</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">PCMH Reports</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->

   

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header" style="background-color: #048db7 !important;">
                <h3 class="card-title">PCMH Reports</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
        
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                      <div class="card-body box-profile">
                        <div class="row">
                          <div class="col-2 text-center">
                            <div class="user-block">
                              <img class="img-circle img-bordered-sm" src="../dist/img/default.png" alt="User Image">
                            </div>
                          </div>
                          <div class="col-10">
                            <h2 class="lead"><b>Alexander Bob Pierce</b></h2>
                            
                            <ul class="ml-0 mb-0 fa-ul text-muted">
                              <li class="small"><b>BCBSRI ID: </b><input type="text" name="bcbsriid" id="bcbsriid"  class="form-control" style="border: 1px solid #ffffff;background-color: #ffffff; display: initial; width: 60%;" readonly> </li>
                              <li class="small"><b>Mbr DOB: </b> <input type="text" name="dob" id="dob"  class="form-control" style="border: 1px solid #ffffff;background-color: #ffffff; display: initial; width: 60%;" readonly>  </li>
                              <li class="small"><b>BCBSRI Risk Categorization: </b> <input type="text" name="riskcat" id="riskcat"  class="form-control" style="border: 1px solid #ffffff;background-color: #ffffff; display: initial; width: 60%;" readonly>  </li>
                              <li class="small"><b>Perf Guarantee Mbr: </b> <input type="text" name="guaranteembr" id="guaranteembr"  class="form-control" style="border: 1px solid #ffffff;background-color: #ffffff; display: initial; width: 60%;" readonly>  </li>
                              <li class="small"><b>Practice Site: </b><br> <input type="text" name="practicesite" id="practicesite"  class="form-control" style="border: 1px solid #ffffff;background-color: #ffffff; display: initial; width: 60%;" readonly> </li>
                              <li class="small"><b>Practice Identified Indicator: </b><input type="text" name="practiceid" id="practiceid"  class="form-control" style="border: 1px solid #ffffff;background-color: #ffffff; display: initial; width: 60%;" readonly></li>

                             

                            </ul>
                            
                          </div>
                          
                        </div>
                        
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
        
                    <!-- About Me Box -->
                  
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-8">
                    <div class="card card-primary card-outline">
                      <div class="card-body">
                        <form id="form" name="form" role="form" ng-controller="return_report" ng-submit="submitForm()">
                          <div class="row">
                            <div class="col-md-6">
                             <div class="form-group">
                                <label>Outreach Attempted Date </label>
                                <input type="date" name="outreach_attempted_date" id="outreach_attempted_date"  placeholder="Outreach Attempted Date" data-datepicker-popup="MM/dd/yyyy"  class="form-control" value=""  autocomplete="off" ng-model="view_details.outreach_attempted_date">
                                 <span class="error" ng-show="form.outreach_attempted_date.$dirty && form.outreach_attempted_date.$error.required">Select Outreach Attempted Date !.</span>
								              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Enrolled Status Date </label>
                                <input type="date" name="enrolled_status_date" id="enrolled_status_date"  placeholder="Enrolled Status Date" data-datepicker-popup="MM/dd/yyyy" class="form-control" value=""  autocomplete="off" ng-model="view_details.enrolled_status_date">
                                <span class="error" ng-show="form.enrolled_status_date.$dirty && form.enrolled_status_date.$error.required">Select Enrolled Status Date!.</span>
								              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                             <div class="form-group">
                                <label>BH Screening PHQ-2 PHQ9 Completed Date </label>
                                <input type="date" name="bh_screening_phq2_phq9_completed_date" id="bh_screening_phq2_phq9_completed_date"  placeholder="BH Screening PHQ-2 PHQ9 Completed Date" data-datepicker-popup="MM/dd/yyyy"  class="form-control " value=""  autocomplete="off" ng-model="view_details.bh_screening_phq2_phq9_completed_date">
                                <span class="error" ng-show="form.bh_screening_phq2_phq9_completed_date.$dirty && form.bh_screening_phq2_phq9_completed_date.$error.required">Select BH Screening PHQ-2 PHQ9 Completed Date!.</span>
								              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Care Plan Established Date </label>
                                <input type="date" name="care_plan_established_date" id="care_plan_established_date"  placeholder="Care Plan Established Date" data-datepicker-popup="MM/dd/yyyy"  class="form-control " value=""  autocomplete="off" ng-model="view_details.care_plan_established_date">
                                <span class="error" ng-show="form.care_plan_established_date.$dirty && form.care_plan_established_date.$error.required">Select Care Plan Established Date!.</span>
								              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                             <div class="form-group">
                                <label>Discharged from CM Date </label>
                                <input type="date" name="discharged_from_cm_date" id="discharged_from_cm_date"  placeholder="Discharged from CM Date" data-datepicker-popup="MM/dd/yyyy"  class="form-control " value=""  autocomplete="off" ng-model="view_details.discharged_from_cm_date">
                                <span class="error" ng-show="form.discharged_from_cm_date.$dirty && form.discharged_from_cm_date.$error.required">Select Discharged from CM Date!.</span>
								              </div>
                            </div>
                            
                           
                          </div>

                         

                          <div class="row">
                    
                            <div class="col-md-12" style="text-align: center;">
                              <div id="loader" style="display: none;"></div>
                              <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Submit" ng-disabled="form.$invalid">
                              <button type="reset" id="reset" name="reset" ng-click="resetForm()" class="btn btn-danger">Cancel</button>
                            </div>
                          </div>

                          
                        </form>

                        <div id="result"></div>
                        <!-- /.tab-content -->
                      </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                  </div>
                  <!-- /.col -->
                </div>
              </div>
            </div>
          </div>
        </div>
       

        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <div class="modal fade" id="modal-default" align="center" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-body">
            <br>
            
            <h5>Date updated Successfully.<br>Do you want to Continue..?</h5>
            <br>
            <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-danger" onclick="close_modal()">No</button>
          </div>
          <br>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <script type="text/javascript" src="../dist/js/angular.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {

  var usertype=sessionStorage.getItem("usertype");
  var username=sessionStorage.getItem("username");

  document.getElementById('usertype').innerHTML=usertype;
  document.getElementById('username').innerHTML=username;
});

$('.datepicker').datepicker({
     
			}).on('change', function(){
       // $('.datepicker').datepicker('setDate', $(this).val());
				$('.datepicker-dropdown').hide();
			});


      //Start : Generate Json
  
  //Genareate File objects
    
      
    $.fn.serializeObject = function()
    {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
  
    
  
  //End : Generate Json

 
    

   

</script>


<script>

   var app = angular.module('update_report', []);
  
app.controller('return_report', ['$scope', function($scope) {


 //Start : Get PCMH ID from URL
 const resbcbsriid = sessionStorage.getItem("view_bcbsriid");
   
     // var decrypted = CryptoJS.AES.decrypt(bcbsriid, "getreturnreport");
      // const resbcbsriid = decrypted.toString(CryptoJS.enc.Utf8);

    //End : Get PCMH ID from URL
    console.log("resbcbsriid=== "+resbcbsriid);
   

    var data='{"bcbsriid":'+resbcbsriid+'}';
   //alert("pcmhid "+pcmhid+" bcbsriid "+bcbsriid);
   
    // alert("resbcbsriid "+resbcbsriid+" bcbsriid "+bcbsriid);
    document.getElementById("loader").style.display = "block";
  fetch("https://apimsdcm.azure-api.net/PCMH/get_returnreport_individual", {
        method: 'post',
      // mode: 'no-cors', // no-cors, *cors, same-origin

      headers: { 'Content-Type': 'application/json',
            "x-functions-key": "r+lQxhhDlsEjzLRGYDttArBECmxoI4Chasc4QcbBakuDXFwK9TeLSw==",
            "Ocp-Apim-Subscription-Key": "7b5df9ff9a28485282adcff8f50ea933",
            // "subscription-key":"da91fd77-c908-4f23-9469-52acf3239a11"
            },
        body: data
    }).then((response) => {

                    if (response.ok) {
                    return response
                } else {
                  
                    throw `update Looks like something went wrong. Status: ${response}`;
                }
            })
            .then(response => response.json())
            .then(data => {
                // console.log("data: [" + JSON.stringify(data)+"]")
                $scope.resulted_returnreport=data;
                console.log("data===="+ $scope.resulted_returnreport.Mbr_First_Name);
               
                $scope.updatedate= $scope.formatDate(data.Outreach_Attempted_Date);
                                              
                 console.log("newww Outreach_Attempted_Date date===="+ $scope.updatedate);
                
                document.getElementById('bcbsriid').value = data.BCBSRI_ID;
                document.getElementById('dob').value = data.Mbr_DOB;
                document.getElementById('riskcat').value = data.BCBSRI_Risk_Categorization;
                document.getElementById('guaranteembr').value = data.Perf_Guarantee_Mbr;
                document.getElementById('practicesite').value = data.Practice_Site;
                document.getElementById('practiceid').value = data.Practice_Identified_Indicator;

                document.getElementById('outreach_attempted_date').value =$scope.formatDate(data.Outreach_Attempted_Date);
                document.getElementById('enrolled_status_date').value = $scope.formatDate(data.Enrolled_Status_Date);
                document.getElementById('bh_screening_phq2_phq9_completed_date').value = $scope.formatDate(data.BH_Screening_PHQ2_PHQ9_Completed_Date);
                document.getElementById('care_plan_established_date').value = $scope.formatDate(data.Care_Plan_Established_Date);
                document.getElementById('discharged_from_cm_date').value = $scope.formatDate(data.Discharged_from_CM_Date);
                
               
                document.getElementById("loader").style.display = "none";
              })
              .catch(error => {
                console.log(error);
                document.getElementById("loader").style.display = "none";
                //toastr.error('Something went wrong, Please try again!.');
             })  
    //End : Get PCMH Data by using PCMHID

  $scope.submitForm = function () {
    document.getElementById("loader").style.display = "block";
       var result = JSON.stringify($('form').serializeObject());
      //  $('#result').text(JSON.stringify($('form').serializeObject()));
       var json1 = $('form').serializeObject();

            var bcbsriidkey = "bcbsriid";
            var ob  = {};
            ob[bcbsriidkey] = resbcbsriid;

            bcbsriidval = ob;

            var useridkey = "userid";
            var ob2  = {};
            ob2[useridkey] = sessionStorage.getItem("userid");
            
            userid = ob2;

            var jsonData = JSON.stringify($.extend({}, json1,bcbsriidval,userid));
             console.log("jsonData===== "+jsonData)

        fetch("https://apimsdcm.azure-api.net/PCMH/update_returnreport_dates", {
        method: 'post',
       // mode: 'no-cors', // no-cors, *cors, same-origin

          headers: { 'Content-Type': 'application/json',
            "x-functions-key": "R8W3hwyA4rGnD2tqy1tJaF3VmlybLdrqMxyX0qcFAS4PS6bO79weNA==",
            "Ocp-Apim-Subscription-Key": "0ac8f354200c4ddb89bb6dcb7528cfea",
            // "subscription-key":"da91fd77-c908-4f23-9469-52acf3239a11"
            },
        body: jsonData
         }).then((response) => {

     
      // updatedata(jsonData);

                if (response.ok) {
                  return response
                } else {
                  throw `Looks like something went wrong. Status: ${response.status}`;
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log("data:" + JSON.stringify(data)+"")
               
                var jsondata=data.Outreach_Attempted_Date;
                console.log("Outreach_Attempted_Date:" + jsondata);
                if(data.Discharged_from_CM_Date!='')
                {
                  console.log("Call function updatecurrentstatus:" + jsondata);
                 // $scope.updatecurrentstatus(2,);
                  updatecurrentstatus(2,resbcbsriid);
                }
                else
                {
                 
                 // $scope.updatecurrentstatus(1);
                  updatecurrentstatus(1,resbcbsriid);
                }
                // pcmdata = "["+JSON.stringify(data)+"]";
                // getResult(pcmdata);
               
               
            })
            .catch(error => {
                console.log(error);
                document.getElementById("loader").style.display = "none";
                toastr.error('Something went wrong, Please try again 111!.');
            })   


       $scope.view_details = {};
       $scope.resulted_returnreport;
      //  $scope.view_details.$setPristine();
      //  return false;
   };

   $scope.updatecurrentstatus=function(statuscode)
   {
     alert(resbcbsriid)
      console.log("updatecurrentstatus = "+statuscode);
        var data='{"bcbsriid":'+resbcbsriid+',"statuscode":'+statuscode+'}';
      //alert("pcmhid "+pcmhid+" bcbsriid "+bcbsriid);
      
    
      fetch("https://apimsdcm.azure-api.net/PCMH/updatecurrentstatus", {
            //method: 'post',
          // mode: 'no-cors', // no-cors, *cors, same-origin

          headers: { 'Content-Type': 'application/json',
                "x-functions-key": "r+lQxhhDlsEjzLRGYDttArBECmxoI4Chasc4QcbBakuDXFwK9TeLSw==",
                "Ocp-Apim-Subscription-Key": "7b5df9ff9a28485282adcff8f50ea933",
                // "subscription-key":"da91fd77-c908-4f23-9469-52acf3239a11"
                },
            body: data
        }).then((response) => {

                        if (response.ok) {
                        return response
                    } else {
                        throw `update Looks like something went wrong. Status: ${response}`;
                    }
                })
                .then(response => response.text())
                .then(data => {
                    console.log("data: [" + JSON.stringify(data)+"]")
                    $scope.resulted_returnreport=data;
                    // console.log("data===="+ $scope.resulted_returnreport.Mbr_First_Name);
                    

                    var databcbsriid='{"bcbsriid":'+resbcbsriid+'}';
console.log("databcbsriid = = "+databcbsriid);
                    fetch("https://apimsdcm.azure-api.net/PCMH/get_returnreport_individual", {
                            method: 'post',
                          // mode: 'no-cors', // no-cors, *cors, same-origin

                          headers: { 'Content-Type': 'application/json',
                                "x-functions-key": "r+lQxhhDlsEjzLRGYDttArBECmxoI4Chasc4QcbBakuDXFwK9TeLSw==",
                                "Ocp-Apim-Subscription-Key": "7b5df9ff9a28485282adcff8f50ea933",
                                // "subscription-key":"da91fd77-c908-4f23-9469-52acf3239a11"
                                },
                            body: databcbsriid
                        }).then((response) => {

                                        if (response.ok) {
                                        return response
                                    } else {
                                        throw `update Looks like something went wrong. Status: ${response}`;
                                    }
                                })
                                .then(response => response.json())
                                .then(data => {
                                    console.log("data: [" + JSON.stringify(data)+"]")
                                    $scope.resulted_returnreport=data;
                                   alert(4444);
                                   $scope.updatedate= $scope.formatDate(data.Outreach_Attempted_Date);
                                              
                                    console.log("Outreach_Attempted_Date date===="+ $scope.updatedate);

                                    document.getElementById('bcbsriid').value = data.BCBSRI_ID;
                                    document.getElementById('dob').value = data.Mbr_DOB;
                                    document.getElementById('riskcat').value = data.BCBSRI_Risk_Categorization;
                                    document.getElementById('guaranteembr').value = data.Perf_Guarantee_Mbr;
                                    document.getElementById('practicesite').value = data.Practice_Site;
                                    document.getElementById('practiceid').value = data.Practice_Identified_Indicator;

                                    document.getElementById('outreach_attempted_date').value =$scope.formatDate(data.Outreach_Attempted_Date);
                                    document.getElementById('enrolled_status_date').value = $scope.formatDate(data.Enrolled_Status_Date);
                                    document.getElementById('bh_screening_phq2_phq9_completed_date').value = $scope.formatDate(data.BH_Screening_PHQ2_PHQ9_Completed_Date);
                                    document.getElementById('care_plan_established_date').value = $scope.formatDate(data.Care_Plan_Established_Date);
                                    document.getElementById('discharged_from_cm_date').value = $scope.formatDate(data.Discharged_from_CM_Date);
                                    
                                  
                                    document.getElementById("loader").style.display = "none";
                                    // document.getElementById("loader").style.display = "none";
                                     toastr.success('Date updated Successfully!.');  
                                     $('#modal-default').modal('show');
                                  })
                                  .catch(error => {
                                    console.log(error);
                                    document.getElementById("loader").style.display = "none";
                                    toastr.error('Something went wrong, Please try again 222!.');
                                })  
                  
                  })
                  .catch(error => {
                    console.log(error);
                    document.getElementById("loader").style.display = "none";
                    toastr.error('Something went wrong, Please try again 333!.');
                })  
      

   }

    $scope.formatDate=function(date) {
     var d = new Date(date),
         month = '' + (d.getMonth() + 1),
         day = '' + d.getDate(),
         year = d.getFullYear();

     if (month.length < 2) month = '0' + month;
     if (day.length < 2) day = '0' + day;

     return [year, month, day].join('-');
 }
  

    $scope.resetForm = function() {
      $scope.view_details = {};
    }

   

  }]);

  function updatecurrentstatus(statuscode,resbcbsriid)
  {
    var data='{"bcbsriid":'+resbcbsriid+',"statuscode":'+statuscode+'}';
    fetch("https://apimsdcm.azure-api.net/PCMH/updatecurrentstatus", {
            method: 'post',
          // mode: 'no-cors', // no-cors, *cors, same-origin

          headers: { 'Content-Type': 'application/json',
                "x-functions-key": "r+lQxhhDlsEjzLRGYDttArBECmxoI4Chasc4QcbBakuDXFwK9TeLSw==",
                "Ocp-Apim-Subscription-Key": "7b5df9ff9a28485282adcff8f50ea933",
                // "subscription-key":"da91fd77-c908-4f23-9469-52acf3239a11"
                },
            body: data
        }).then((response) => {

                        if (response.ok) {
                        return response
                    } else {
                        throw `update Looks like something went wrong. Status: ${response}`;
                    }
                }).then(response => response.text())
                .then(data => {
                    console.log("data: [" + JSON.stringify(data)+"]")
                    var resulted_returnreport=data;
                    // console.log("data===="+ $scope.resulted_returnreport.Mbr_First_Name);
                    

                    var databcbsriid='{"bcbsriid":'+resbcbsriid+'}';

                    fetch("https://apimsdcm.azure-api.net/PCMH/get_returnreport_individual", {
                            method: 'post',
                          // mode: 'no-cors', // no-cors, *cors, same-origin

                          headers: { 'Content-Type': 'application/json',
                                "x-functions-key": "r+lQxhhDlsEjzLRGYDttArBECmxoI4Chasc4QcbBakuDXFwK9TeLSw==",
                                "Ocp-Apim-Subscription-Key": "7b5df9ff9a28485282adcff8f50ea933",
                                // "subscription-key":"da91fd77-c908-4f23-9469-52acf3239a11"
                                },
                            body: databcbsriid
                        }).then((response) => {

                                        if (response.ok) {
                                        return response
                                    } else {
                                        throw `update Looks like something went wrong. Status: ${response}`;
                                    }
                                })
                                .then(response => response.json())
                                .then(data => {
                                    console.log("data: [" + JSON.stringify(data)+"]")
                                    var resulted_returnreport=data;
                                   
                                  var updatedate= formatDate(data.Outreach_Attempted_Date);
                                              
                                    console.log("Outreach_Attempted_Date date===="+ updatedate);

                                    document.getElementById('bcbsriid').value = data.BCBSRI_ID;
                                    document.getElementById('dob').value = data.Mbr_DOB;
                                    document.getElementById('riskcat').value = data.BCBSRI_Risk_Categorization;
                                    document.getElementById('guaranteembr').value = data.Perf_Guarantee_Mbr;
                                    document.getElementById('practicesite').value = data.Practice_Site;
                                    document.getElementById('practiceid').value = data.Practice_Identified_Indicator;

                                    document.getElementById('outreach_attempted_date').value =formatDate(data.Outreach_Attempted_Date);
                                    document.getElementById('enrolled_status_date').value = formatDate(data.Enrolled_Status_Date);
                                    document.getElementById('bh_screening_phq2_phq9_completed_date').value =formatDate(data.BH_Screening_PHQ2_PHQ9_Completed_Date);
                                    document.getElementById('care_plan_established_date').value = formatDate(data.Care_Plan_Established_Date);
                                    document.getElementById('discharged_from_cm_date').value = formatDate(data.Discharged_from_CM_Date);
                                    
                                  
                                    document.getElementById("loader").style.display = "none";
                                    // document.getElementById("loader").style.display = "none";
                                     toastr.success('Date updated Successfully!.');  
                                     $('#modal-default').modal('show');
                                  })
                                  .catch(error => {
                                    console.log(error);
                                    document.getElementById("loader").style.display = "none";
                                    toastr.error('Something went wrong, Please try again!.');
                                })  
                  
                  })
  }

  function formatDate(date) {
     var d = new Date(date),
         month = '' + (d.getMonth() + 1),
         day = '' + d.getDate(),
         year = d.getFullYear();

     if (month.length < 2) month = '0' + month;
     if (day.length < 2) day = '0' + day;

     return [year, month, day].join('-');
 }

 function close_modal()
  {
  
    $("#modal-default").modal("hide");
    setTimeout(function() {
       load_return_report_individual_page();
      },1000);
  }
</script>
